{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<p> nombre :  {{form.nombre}} </p>
<p>  nombre aléatoire :  {{form.alea}}  </p>
<p>       {{form.result}}    </p>
{% endblock %}