{% extends 'base.html.twig' %}

{% block title %}Hello PresentationController!{% endblock %}

{% block body %}
<p>Mon prénom est {{moi.prenom}}</p>
<p>Mon nom est {{moi.nom}}</p>
<p>Mon age est  {{moi.age}}</p>
{% endblock %}
